html{
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BRDf5QkViozx5sck/heavenly-tropical-island-background_rmmmmsln__F0000.png');
  background-repeat: no-repeat;
  background-position: center;
}
